* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #fff;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2rem;
    color: #fff;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #ffcccb; 
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 200px;
    height: 410px;
    background-color: #383838;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.sidebar li:hover {
    background-color: #181818;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

header h1 {
    color: #d90429;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.dashboard-metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric-card {
    background-color: #fff;
    border: 2px solid #d90429;
    padding: 20px;
    text-align: center;
    width: 20%;
    border-radius: 8px;
    color: #d90429;
}

.donor-data {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #d90429;
    color: white;
    padding: 10px;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #d90429;
}
